/**
* Used this https://stackoverflow.com/questions/10592411/disable-scrolling-in-all-mobile-devices
**/

html {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

body {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0px;
}

#app {
  height: 100%;
  width: 100%;
  display: flex;
}

#canvas {
  flex-grow: 1;
  height: 100%;
  width: 100%;
}

#deviceData {
  position: absolute;
  left: 10px;
  top: 45px;
  color: whitesmoke;
  visibility: hidden;
}

.tools {
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(27, 27, 27, 0.233);
  border-radius: 6px;
  z-index: 9999;
  color: blanchedalmond;
  font-size: 2rem;
  align-items: center;
  display: flex;
}

.tools a {
  text-decoration: none;
  color: blanchedalmond;
  font-size: 2rem;
}
