html {
  height: 100vh;
  width: 100vw;
}

body {
  height: 100%;
  width: 100%;
  margin:0px
}

#app {
  height: 100%;
  width: 100%;
  display: flex;
}

#canvas {
  flex-grow: 1;
  height: 100%;
  width: 100%;
}

#deviceData {
  position: absolute;
  left: 0px;
  top: 0px;
  color: whitesmoke;
}
